<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="D:\Usuário\ProjetoNossaTV\Código\demo\demo\src\main\resources\static\assets\style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <img src="/img/logo.png" alt="Logo">
                    </a>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>